$primary-color: #000000;
$secondary-color:#ffffff;
$tertiary-color:#471D4F;
$quaternary-color:#EEE4F1;
$quinary-color:#8F8F8F;
$senary-color:#F3F3F3;
$septenary-color:#643762;
$octonary-color:#4D1F5B;
$nonary-color: #BEA1C7;
$denary-color: #81CE7F;
$undenary-color: #D85252;
$duodenary-color:#F9F9F9;